.card {
    padding: 10px;
}
.bold{
    font-weight: bold;
}
.container{
    padding: 10px;
}
.noborder {
    border: 0;
    box-shadow: none;
}
.underline{
    height: 4px;
    padding: 0px;
}

.textboxYellow {
    border-style: solid;
    border-width: thick;
    border-color: #EBC55E;
}

.darkYellow {
    background-color: #EBC55E;
}

.mediumGold {
    background-color: #FFE365;
}

.lightYellow {
    background-color: #FFF280;
}

.myBlack {
    background-color: #1B1B1B;
}

.myGrey {
    background-color: #545454;
}

.logo {
    width: 180.5px;
    height: 45.5px;
    /* margin-left: 50px;
    margin-top: 15px; */
}

.linkTitle {
    color: #1B1B1B;
    font-size: 16px;
}

.textarea{
    margin: 4px;
    height: 400px;
}

p{
    font-size: 16px;
}

li{
    font-size: 16px;
}

.test{
    width: 45%
}

.border{
    border-style: solid;
    border-width: thin;
    border-color:  #1B1B1B;
    height: 400px;
    margin: 10px;
}

.list{
    font-size: 16px;
}

.underline{
    text-decoration: underline;
}

.bottom-buffer{
    margin-bottom: 20px;
}

.highlighted-text {
    background-color: #FFE365;
}

.highlighted-text:hover {
    background-color:  #EBC55E;
}
